# --- API KONFIGURACE ---
API_BASE_URL=http://10.0.2.2:8081/api

# --- GOOGLE AUTH KONFIGURACE ---
GOOGLE_WEB_CLIENT_ID=your_google_web_client_id

# --- APPLE AUTH KONFIGURACE ---
APPLE_CLIENT_ID=com.checkfood.checkfood_client
APPLE_REDIRECT_URL=http://localhost:8081/api/oauth/apple/callback

# --- GOOGLE MAPS & PLACES ---
GOOGLE_MAPS_API_KEY=your_google_maps_api_key
